body {
  background-color: #00006b;
  background-image: url("https://www.transparenttextures.com/patterns/black-twill.png");
}

.container-fluid {
  margin: 10% 25%;
}

.card {
  padding: 2%;
  width: 40%;
  min-width: 300px;
}

.form-control {
  width: 60%;
}

.hidden {
  display: none;
}

.table {
  width: 80%;
}

#yourBalance {
  font-size: 24px;
}

#deposit {
  width: 190px;
}
