body {
  background:
  linear-gradient(
    rgba(25, 25, 25, 0.48),
    rgba(25, 25, 25, 0.48)
  ), url("../img/money.jpeg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

.container-fluid {
  margin: 10% 20%;
}

.card {
  padding: 2%;
  width: 40%;
  min-width: 300px;
}

.form-control {
  width: 60%;
}

.hidden {
  display: none;
}

.table {
  width: 80%;
}

#yourBalance {
  font-size: 24px;
}

#deposit {
  width: 190px;
}
